Repository hacktoberfest-unicam/awesome-hacktoberfest-beryllium-bear, pull requests merged in 2023-10, with the labels that each got.

#1 Harlock official patch 1
  .github/CODE_OF_CONDUCT.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/img/ea5885c6-4986-4375-a7a7-fbc5588cf97c.jpeg
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#2 [add] .gitignore
  .gitignore
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#14 challenge printing
  00_introduction/01_printing/Frascott05/printing.py
Labels: problem:print

#17 Denisirmici01
  00_introduction/01_printing/denisirmici/1.py
Labels: hacktoberfest, hacktoberfest-accepted, problem:print

#18 [DO] Minimal calculator in Java.
  01_easy/04_calculator/Alessio Giacché/Calculator_AlessioGiacche/.gitignore
  01_easy/04_calculator/Alessio Giacché/Calculator_AlessioGiacche/src/Main.java
  01_easy/04_calculator/Alessio Giacché/Calculator_AlessioGiacche/src/Operation.java
Labels: hacktoberfest-accepted, points:-2, problem:Calcolatrice Linea di Comando

#19 Prova
  00_introduction/01_printing/IMPORTANT_FOLDER_jh/Hello.java
  01_easy/01_array_sorting/sortingArray.js
Labels: hacktoberfest, hacktoberfest-accepted, points:-5, problem:Calcolatrice Linea di Comando

#20 esercizio priniting01
  00_introduction/01_printing/Frenco2003pinting01/Main.java
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:print

#21 [Implement] calculator
  01_easy/04_calculator/Sophisss/Calculator/.gitignore
  01_easy/04_calculator/Sophisss/Calculator/src/Main.java
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#22 [add] Aggiunto il print.
  00_introduction/01_printing/Marvin_Sincini/printing.cs
Labels: hacktoberfest-accepted, points:0, problem:print

#27 [add] print
  00_introduction/01_printing/leonardoprinting.py
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:print

#31 Added flowchart
  Primer Number.png
  multipliedNumber.png
  productPrice.png
Labels: hacktoberfest, hacktoberfest-accepted, points:-5, problem:Diagramma di Flusso

#48 added 04 calculator
  01_easy/04_calculator/FeeeDz/04_calculator.py
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#33 01easy array sorting
  01_easy/01_array_sorting/Davidtozz/Program.cs
Labels: hacktoberfest-accepted, points:+1, problem:Array Sorting (Numeri/Parole)

#25 Denisarray01
  01_easy/01_array_sorting/denisirmiciarray/arraydenis.py
Labels: hacktoberfest-accepted, points:0, problem:Array Sorting (Numeri/Parole)

#42 Committed Blockchain
  01_easy/03_blockchain/MacMat01/Block.java
  01_easy/03_blockchain/MacMat01/Main.java
Labels: hacktoberfest, hacktoberfest-accepted, points:+5, problem:Blockchain(easy)

#34 Array sorting
  .vscode/settings.json
  .vscode/tasks.json
  01_easy/01_array_sorting/arraySorting.java
  01_easy/02_regular_expressions/regex.sh
  01_easy/03_blockchain/blockchain
  01_easy/03_blockchain/blockchain.C
Labels: hacktoberfest, hacktoberfest-accepted, points:+2, problem:Array Sorting (Numeri/Parole)

#36 Committed ArraySorting
  01_easy/01_array_sorting/MacMat01/ArraySorting.java
Labels: hacktoberfest, hacktoberfest-accepted, points:+5, problem:Array Sorting (Numeri/Parole)

#37 Committed regex
  01_easy/02_regular_expressions/MacMat01/input.txt
  01_easy/02_regular_expressions/MacMat01/regex.sh
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:Linux + RegEx

#41 calcolatrice
  01_easy/04_calculator/Calculator.java
  01_easy/04_calculator/Main.java
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#51 Advncedcalculator
  02_medium/04_calculator/Frascott/Calculator.java
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#35 01easy regular expressions
  01_easy/02_regular_expressions/Davidtozz/file.txt
  01_easy/02_regular_expressions/Davidtozz/regex.sh
Labels: hacktoberfest-accepted, points:-1, problem:Linux + RegEx

#50 01easy_blockchain
  01_easy/03_blockchain/Davidtozz/main.c
Labels: hacktoberfest, hacktoberfest-accepted, points:+5, problem:blockchain(easy)

#55 [ADD] Added arraySorting.py to solve 01_array_sorting
  01_easy/01_array_sorting/UfaiX04/arraySorting.py
Labels: hacktoberfest-accepted, points:0, problem:Array Sorting (Numeri/Parole)

#54 [ADD] Added print.py to solve 01_printing
  00_introduction/01_printing/print.py
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:print

#89 Api
  02_medium/01_backend_api/Frascott/requfortest.py
  02_medium/01_backend_api/Frascott/solve.py
Labels: hacktoberfest-accepted, points:0, problem:sorting array backend

#59 Committed Calculator
  01_easy/04_calculator/MacMat01/Calculator.java
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#60 added a basic calculator
  01_easy/04_calculator/Davidtozz/calculator.py
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#64 [add] aggiunto array_sorting.lisp e NEWREADME.md
  01_easy/01_array_sorting/lorenzo-lupi/NEWREADME.md
  01_easy/01_array_sorting/lorenzo-lupi/array_sorting.lisp
Labels: hacktoberfest-accepted, points:+2, problem:Array Sorting (Numeri/Parole)

#58 [ADD] Added calculatorChallange.py to solve 04_calculator
  01_easy/04_calculator/calculatorChallange.py
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#74 Medium - Express.js api sorting an unordered array
  02_medium/01_backend_api/Davidtozz/app.js
  02_medium/01_backend_api/Davidtozz/package-lock.json
  02_medium/01_backend_api/Davidtozz/package.json
Labels: hacktoberfest, hacktoberfest-accepted, points:+2, problem:sorting array backend

#80 [add] added regex.sh to solve regex problem
  01_easy/02_regular_expressions/turtulin/regex.sh
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:Linux + RegEx

#73 04 calculator
  01_easy/04_calculator/calcolatriceleonardo.py
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice Linea di Comando

#75 [Add] Aggiunto l'array sorter
  01_easy/01_array_sorting/Marvin Sincini/ArraySorter.cs
  01_easy/01_array_sorting/Marvin Sincini/README.md
Labels: hacktoberfest-accepted, points:0, problem:Array Sorting (Numeri/Parole)

#78 Blockchain
  01_easy/01_array_sorting/Marvin Sincini/ArraySorter.cs
  01_easy/01_array_sorting/Marvin Sincini/README.md
  01_easy/03_blockchain/Marvin_Sincini/Block.cs
  01_easy/03_blockchain/Marvin_Sincini/Chain.cs
  01_easy/03_blockchain/Marvin_Sincini/README.md
Labels: hacktoberfest-accepted, points:+1, problem:blockchain(easy)

#81 added calculator gui
  02_medium/04_calculator/calc_guy.py
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#87 Printing
  00_introduction/01_printing/Federico_DiPetta/README.md
  00_introduction/01_printing/Federico_DiPetta/printing.hs
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:print

#85 02_medium/04_calculator
  02_medium/04_calculator/francescotonti/Calculator.java
  02_medium/04_calculator/francescotonti/Main.java
  02_medium/04_calculator/francescotonti/MyFrame.java
  02_medium/04_calculator/francescotonti/MyPanel.java
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#82 [add] added solution to blockchain
  01_easy/03_blockchain/turtulin/blockchain.c
Labels: hacktoberfest-accepted, points:0, problem:blockchain(easy)

#83 [add] calcolatrice
  02_medium/04_calculator/ J-HON404/GUI.form
  02_medium/04_calculator/ J-HON404/GUI.java
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#121 Add Logo
  01_easy/05_todo_logo/Stenosi/Logo.ai
  01_easy/05_todo_logo/Stenosi/Logo.png
  01_easy/05_todo_logo/Stenosi/Logo.svg
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:logo #TODO

#117 05 todo logo
  01_easy/05_todo_logo/TODO_Logo_001.png
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:logo #TODO

#56 [ADD] Added regExChallange.sh to solve 02_regular_expressions
  01_easy/02_regular_expressions/UfaiX04/regExChallange.sh
Labels: hacktoberfest-accepted, points:-5, problem:Linux + RegEx

#86 [ADD] Added array_sorter_project to solve 01_backend_api
  02_medium/01_backend_api/UfaiX04/README.md
  02_medium/01_backend_api/UfaiX04/array_sorter_app/__init__.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/admin.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/apps.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/migrations/__init__.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/models.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/templates/home.html
  02_medium/01_backend_api/UfaiX04/array_sorter_app/templates/process.html
  02_medium/01_backend_api/UfaiX04/array_sorter_app/tests.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/urls.py
  02_medium/01_backend_api/UfaiX04/array_sorter_app/views.py
  02_medium/01_backend_api/UfaiX04/array_sorter_project/__init__.py
  02_medium/01_backend_api/UfaiX04/array_sorter_project/asgi.py
  02_medium/01_backend_api/UfaiX04/array_sorter_project/settings.py
  02_medium/01_backend_api/UfaiX04/array_sorter_project/urls.py
  02_medium/01_backend_api/UfaiX04/array_sorter_project/wsgi.py
  02_medium/01_backend_api/UfaiX04/manage.py
Labels: hacktoberfest-accepted, points:-5, problem:sorting array backend

#122 Finished telegram
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/.gitignore
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/.nvmrc
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/README.md
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/UI/index.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/UI/recent-chat/recent-chat.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/UI/select/select.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/UI/text-input/text-input.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/forms/index.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/forms/login-form.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/components/forms/verify-form.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/containers/Layout/Layout.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/containers/Layout/chat-layout.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/containers/Layout/message-layout.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/data/countryCodes.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/data/index.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/data/messages.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/form-schema/index.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/form-schema/login-form-schema.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/form-schema/verify-form-schema.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/package-lock.json
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/package.json
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/pages/_app.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/pages/home.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/pages/index.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/pages/login.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/pages/verify.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/postcss.config.js
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/styles/global.css
  04_extreme/01_telegram_web_clone/nabil-nablotech/telegram-clone/tailwind.config.js
Labels: hacktoberfest-accepted, points:+5, problem:Telegram web clone

#91 02medium latex
  02_medium/02_latex/Davidtozz/main.pdf
  02_medium/02_latex/Davidtozz/main.tex
Labels: hacktoberfest-accepted, points:0, problem:LaTeX

#105 Basic system to check for requirements
  02_medium/03_blockchain/Davidtozz/main.c
Labels: hacktoberfest-accepted, points:0, problem:blockchain in c lulz

#115 Medium - Calculator GUI
  02_medium/04_calculator/Davidtozz/calculator.py
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#106 logo
  .gitignore
  01_easy/05_todo_logo/WhatsApp Image 2023-10-24 at 16.36.58.jpeg
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:logo #TODO

#90 Calculator
  01_easy/04_calculator/Federico_DiPetta/README.md
  01_easy/04_calculator/Federico_DiPetta/calculator.py
Labels: hacktoberfest, hacktoberfest-accepted, points:-2, problem:Calcolatrice Linea di Comando

#92 Committed backendapi
  02_medium/01_backend_api/MacMat01/script.js
  02_medium/01_backend_api/MacMat01/scriptTest.js
Labels: hacktoberfest, hacktoberfest-accepted, points:-2, problem:sorting array backend

#113 Logo
  01_easy/05_todo_logo/lilliban/Ale.jpg
  01_easy/05_todo_logo/lilliban/Ale.png
Labels: hacktoberfest, hacktoberfest-accepted, points:0, problem:logo #TODO

#95 My latex 02
  02_medium/02_latex/MacMat01/DnD.tex
  dragon.jpg
Labels: hacktoberfest, hacktoberfest-accepted, points:-2, problem:LaTeX

#94 [add] added flowcharts
  00_introduction/02_flowchart/lanfarx/flowchart1.jpeg
  00_introduction/02_flowchart/lanfarx/flowchart2.jpeg
  00_introduction/02_flowchart/lanfarx/flowchart3.jpeg
Labels: hacktoberfest, hacktoberfest-accepted, points:-3, problem:Diagramma di Flusso

#104 Mockup su figma
  02_medium/05_mockup/link.txt
Labels: hacktoberfest, hacktoberfest-accepted, points:+3, problem:Mockup frontend #TODO

#97 [ADD] Added Calculator.java to solve 04_calculator
  02_medium/04_calculator/Calculator.java
  02_medium/04_calculator/calcolatrice.c
  03_hard/03_video_game_zombie/.godot/.gdignore
  03_hard/03_video_game_zombie/.godot/editor/Gamemode_Objects.dae-cd7c84994356a861e7019755872a0048.scn-folding-ae1056d4f208c5475772844d08de3964.cfg
  03_hard/03_video_game_zombie/.godot/editor/GodotBattleBot_Simple.dae-2c0a65311384544dc0b589d8ed27ea52.scn-folding-aeaaaaad44b09e61e4973084bc3f8043.cfg
  03_hard/03_video_game_zombie/.godot/editor/Grenades.dae-7d305bf96b28ceb78a40cc34e2f98092.scn-folding-73ae63afe0f4997f69646809ec2163c6.cfg
  03_hard/03_video_game_zombie/.godot/editor/Player.gd-folding-bd414024df1f21085880ce357114f0e7.cfg
  03_hard/03_video_game_zombie/.godot/editor/Player.tscn-editstate-90e1ff3baa03524a506ff0f7a9d78dcf.cfg
  03_hard/03_video_game_zombie/.godot/editor/Player.tscn-folding-90e1ff3baa03524a506ff0f7a9d78dcf.cfg
  03_hard/03_video_game_zombie/.godot/editor/Ruin_Level_Objects.dae-901b498e88c42df8fdfd0b3837ab02e0.scn-folding-aeaf2848c6abdb82cad77a6651a17dba.cfg
  03_hard/03_video_game_zombie/.godot/editor/Space_Level_Objects.dae-2bc51f20d21489bdf4c0eca2067928ba.scn-folding-c57957d84b68ac409fb73b4bbc0f17e9.cfg
  03_hard/03_video_game_zombie/.godot/editor/Titillium-Regular.otf-8172f0d4cb0051a0fa14d71e0a13f41b.fontdata-folding-86d23974fe8edd7e8a3829578475566b.cfg
  03_hard/03_video_game_zombie/.godot/editor/editor_layout.cfg
  03_hard/03_video_game_zombie/.godot/editor/filesystem_cache8
  03_hard/03_video_game_zombie/.godot/editor/filesystem_update4
  03_hard/03_video_game_zombie/.godot/editor/project_metadata.cfg
  03_hard/03_video_game_zombie/.godot/editor/script_editor_cache.cfg
  03_hard/03_video_game_zombie/.godot/global_script_class_cache.cfg
  03_hard/03_video_game_zombie/.godot/imported/32-32_white.png-c6fbe211bed58457f1496bb0fa244c9f.ctex
  03_hard/03_video_game_zombie/.godot/imported/32-32_white.png-c6fbe211bed58457f1496bb0fa244c9f.md5
  03_hard/03_video_game_zombie/.godot/imported/FPS_project_icon.png-b97f64e60ed6445198b8df55dd765c83.ctex
  03_hard/03_video_game_zombie/.godot/imported/FPS_project_icon.png-b97f64e60ed6445198b8df55dd765c83.md5
  03_hard/03_video_game_zombie/.godot/imported/Gamemode_Objects.dae-cd7c84994356a861e7019755872a0048.md5
  03_hard/03_video_game_zombie/.godot/imported/Gamemode_Objects.dae-cd7c84994356a861e7019755872a0048.scn
  03_hard/03_video_game_zombie/.godot/imported/GodotBattleBot_Colors.png-7208bb634df3df8c60e4f52a2df89af7.md5
  03_hard/03_video_game_zombie/.godot/imported/GodotBattleBot_Colors.png-7208bb634df3df8c60e4f52a2df89af7.s3tc.ctex
  03_hard/03_video_game_zombie/.godot/imported/GodotBattleBot_Emission.png-98296e90470023ac61cf954c7b4bb249.ctex
  03_hard/03_video_game_zombie/.godot/imported/GodotBattleBot_Emission.png-98296e90470023ac61cf954c7b4bb249.md5
  03_hard/03_video_game_zombie/.godot/imported/GodotBattleBot_Simple.dae-2c0a65311384544dc0b589d8ed27ea52.md5
  03_hard/03_video_game_zombie/.godot/imported/GodotBattleBot_Simple.dae-2c0a65311384544dc0b589d8ed27ea52.scn
  03_hard/03_video_game_zombie/.godot/imported/Grenades.dae-7d305bf96b28ceb78a40cc34e2f98092.md5
  03_hard/03_video_game_zombie/.godot/imported/Grenades.dae-7d305bf96b28ceb78a40cc34e2f98092.scn
  03_hard/03_video_game_zombie/.godot/imported/GunTextures.png-33044de8527431be08db9b6ba0e45630.md5
  03_hard/03_video_game_zombie/.godot/imported/GunTextures.png-33044de8527431be08db9b6ba0e45630.s3tc.ctex
  03_hard/03_video_game_zombie/.godot/imported/Ruin_Level_Objects.dae-901b498e88c42df8fdfd0b3837ab02e0.md5
  03_hard/03_video_game_zombie/.godot/imported/Ruin_Level_Objects.dae-901b498e88c42df8fdfd0b3837ab02e0.scn
  03_hard/03_video_game_zombie/.godot/imported/RuinsThumbnail.png-884ff638e2201465a3fe07d3847537e2.ctex
  03_hard/03_video_game_zombie/.godot/imported/RuinsThumbnail.png-884ff638e2201465a3fe07d3847537e2.md5
  03_hard/03_video_game_zombie/.godot/imported/SpaceThumbnail.png-857a48f09d8729bf3f855fb56ac3619c.ctex
  03_hard/03_video_game_zombie/.godot/imported/SpaceThumbnail.png-857a48f09d8729bf3f855fb56ac3619c.md5
  03_hard/03_video_game_zombie/.godot/imported/Space_Level_Objects.dae-2bc51f20d21489bdf4c0eca2067928ba.md5
  03_hard/03_video_game_zombie/.godot/imported/Space_Level_Objects.dae-2bc51f20d21489bdf4c0eca2067928ba.scn
  03_hard/03_video_game_zombie/.godot/imported/Titillium-Regular.otf-8172f0d4cb0051a0fa14d71e0a13f41b.fontdata
  03_hard/03_video_game_zombie/.godot/imported/Titillium-Regular.otf-8172f0d4cb0051a0fa14d71e0a13f41b.md5
  03_hard/03_video_game_zombie/.godot/imported/icon.png-487276ed1e3a0c39cad0279d744ee560.ctex
  03_hard/03_video_game_zombie/.godot/imported/icon.png-487276ed1e3a0c39cad0279d744ee560.md5
  03_hard/03_video_game_zombie/.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.ctex
  03_hard/03_video_game_zombie/.godot/imported/icon.svg-218a8f2b3041327d8a5756f3a245f83b.md5
  03_hard/03_video_game_zombie/.godot/imported/lightblue_equirectangular.png-4443ea404861d24dcbb2f1ada4d083d2.ctex
  03_hard/03_video_game_zombie/.godot/imported/lightblue_equirectangular.png-4443ea404861d24dcbb2f1ada4d083d2.md5
  03_hard/03_video_game_zombie/.godot/uid_cache.bin
Labels: hacktoberfest, hacktoberfest-accepted, points:-1, problem:Calcolatrice medium

#108 Committed Calculator medium GUI
  02_medium/04_calculator/MacMat01/Calculator.java
  02_medium/04_calculator/MacMat01/CalculatorGUI.java
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#99 [add] Aggiunta la blockchain in C
  02_medium/03_blockchain/Marvin_Sincini/README.md
  02_medium/03_blockchain/Marvin_Sincini/blockchain.c
Labels: hacktoberfest-accepted, points:-3, problem:blockchain in c lulz

#103 added rest api
  02_medium/01_backend_api/FeeeDz/api.py
  02_medium/01_backend_api/FeeeDz/test.txt
Labels: hacktoberfest-accepted, points:0, problem:sorting array backend

#116 Blockchain2
  02_medium/03_blockchain/blockchain.c
Labels: hacktoberfest-accepted, points:0, problem:blockchain in c lulz

#118 blockchainMedium
  02_medium/03_blockchain/main.c
Labels: hacktoberfest-accepted, points:0, problem:blockchain in c lulz

#120 flask app
  03_hard/01_string_sorting_website/Frascott05/app.py
  03_hard/01_string_sorting_website/Frascott05/index.html
  03_hard/01_string_sorting_website/Frascott05/readme.md
Labels: hacktoberfest-accepted, points:-50, problem:Front & Back sort list

#119 Calculator GUI
  02_medium/04_calculator/Federico_DiPetta/calculator.py
  02_medium/04_calculator/Federico_DiPetta/calculatorGUI.py
Labels: hacktoberfest-accepted, points:0, problem:Calcolatrice medium

#93 Hard 01 string_sorting_website by Glydric
  .gitignore
  03_hard/01_string_sorting_website/glydric/README.md
  03_hard/01_string_sorting_website/glydric/backend/.eslintrc.js
  03_hard/01_string_sorting_website/glydric/backend/.gitignore
  03_hard/01_string_sorting_website/glydric/backend/.prettierrc
  03_hard/01_string_sorting_website/glydric/backend/README.md
  03_hard/01_string_sorting_website/glydric/backend/nest-cli.json
  03_hard/01_string_sorting_website/glydric/backend/package.json
  03_hard/01_string_sorting_website/glydric/backend/src/app.controller.ts
  03_hard/01_string_sorting_website/glydric/backend/src/app.module.ts
  03_hard/01_string_sorting_website/glydric/backend/src/main.ts
  03_hard/01_string_sorting_website/glydric/backend/src/sharableUtils/FileSystem.ts
  03_hard/01_string_sorting_website/glydric/backend/src/sharableUtils/Percentage.ts
  03_hard/01_string_sorting_website/glydric/backend/src/sharableUtils/global.ts
  03_hard/01_string_sorting_website/glydric/backend/src/sorts.ts
  03_hard/01_string_sorting_website/glydric/backend/tsconfig.build.json
  03_hard/01_string_sorting_website/glydric/backend/tsconfig.json
  03_hard/01_string_sorting_website/glydric/frontend/.editorconfig
  03_hard/01_string_sorting_website/glydric/frontend/.gitignore
  03_hard/01_string_sorting_website/glydric/frontend/.vscode/extensions.json
  03_hard/01_string_sorting_website/glydric/frontend/.vscode/launch.json
  03_hard/01_string_sorting_website/glydric/frontend/.vscode/tasks.json
  03_hard/01_string_sorting_website/glydric/frontend/README.md
  03_hard/01_string_sorting_website/glydric/frontend/angular.json
  03_hard/01_string_sorting_website/glydric/frontend/package.json
  03_hard/01_string_sorting_website/glydric/frontend/src/app/app.module.ts
  03_hard/01_string_sorting_website/glydric/frontend/src/app/form/form.component.html
  03_hard/01_string_sorting_website/glydric/frontend/src/app/form/form.component.scss
  03_hard/01_string_sorting_website/glydric/frontend/src/app/form/form.component.ts
  03_hard/01_string_sorting_website/glydric/frontend/src/assets/.gitkeep
  03_hard/01_string_sorting_website/glydric/frontend/src/index.html
  03_hard/01_string_sorting_website/glydric/frontend/src/main.ts
  03_hard/01_string_sorting_website/glydric/frontend/src/styles.scss
  03_hard/01_string_sorting_website/glydric/frontend/tsconfig.app.json
  03_hard/01_string_sorting_website/glydric/frontend/tsconfig.json
  03_hard/01_string_sorting_website/glydric/frontend/tsconfig.spec.json
Labels: hacktoberfest, hacktoberfest-accepted, points:-1, problem:Front & Back sort list
